# NetBeans related files (https://github.com/github/gitignore/blob/main/Global/NetBeans.gitignore)
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

