<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guessing game</title>

    <style>

    .align {
        color: blue;
        margin:10px;
        padding:10px;
    }
    .align2 {
        color: red;
        margin:10px;
        padding:10px;
    }

    </style>

</head>

<body>

<div class="align">
    <h1 style="text-align:left">Welcome to the guessing game!</h1>
</div>

<div class = "align2"> 
    <p style="text-align:left">Guess a number between 1 - 100. Are we thinking of the same number?</p>
    <form method="POST" style="text-align:left">
        My guess: <input type="text" name="number">
        <input type="submit" value="Submit Guess">
    </form>

</div>

</body>
</html> 